@charset "utf-8";

/// reset PC
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
em,
img,
sub,
sup,
address,
cite,
pre,
code,
del,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    overflow: visible;
    appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[data-type='number'] {
    ime-mode: disabled;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    appearance: textfield;
    box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    appearance: none;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
select::-ms-expand {
    display: none;
}
[disabled] {
    cursor: default;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}
body {
    width: 100%;
    font-size: 15px;
    font-family: 'NotoL', serif;
    letter-spacing: -0.5px;
    word-break: break-all;
    color: #111;
    background-color: #fff;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    color: #2f2f2f;
    font-size: 15px;
}
input,
button,
select,
textarea {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    color: #2f2f2f;
    font-size: 15px;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    appearance: none;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    outline: none;
}
caption,
legend,
hr {
    display: none;
}
em,
address,
i {
    font-style: normal;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
strong,
b {
    font-weight: normal;
    color: #2f2f2f;
    font-size: 15px;
    line-height: 1;
}
label {
    cursor: pointer;
}

input::placeholder {
    color: #c1c1c1;
    line-height: normal;
}
textarea::placeholder {
    color: #c1c1c1;
    @include Clear;
}

//Noto
@font-face {
    font-family: 'NotoL';
    src: url('../fonts/notokr-light.woff') format('woff'), url('../fonts/notokr-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-nav {
    @include Flex-config($wrap: wrap);
    width: 500px;
    margin-top: 20px;
    > a {
        width: 50%;
    }
}

.Header {
    @include Flex-config($justify: space-between, $align: center);
    padding: 20px;
    .right {
        > a {
            margin: 0 10px;
        }
        > div {
            > span {
                @include Inline-block-config();
                margin: 0 10px;
            }
            > a {
                @include Inline-block-config();
                margin: 0 10px;
            }
            > button {
                @include Inline-block-config();
                margin: 0 10px;
            }
        }
    }
}

.SignUp,
.LogIn {
    @include Flex-config($justify: center, $align: center, $flow: column);
    form {
        @include Flex-config($justify: center, $align: center, $flow: column);
        width: 500px;
    }
    input {
        border: 1px solid #000;
        display: block;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
}

.btn {
    @include Inline-block-config();
    background-color: #2f2f2f;
    color: #fff;
    padding: 10px;
}

.pageloading_wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 3;
}
.pageloading_wrap .pageloading {
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
}
